# MongoDB Connection String
# Opção 1: MongoDB Local
MONGODB_URI=mongodb://localhost:27017/jitterbit-orders

# Opção 2: MongoDB Atlas (Recomendado)
# MONGODB_URI=mongodb+srv://usuario:senha@cluster.mongodb.net/jitterbit-orders?retryWrites=true&w=majority

# Server Configuration
PORT=3000

# Environment
NODE_ENV=development

